<div id="fondo">
  <div id="fondo2">
    <div>
      <img class="logo" src="../assets/logo.png">
    </div>
    <div>
      <h1 class="adivina">Adivina el número</h1>
    </div>
    <div>
      <form #formNumber="ngForm" (ngSubmit)="verificarNumero()">
        <label for="number" class="numero" >Escribe un numero del 1 al 100</label>
        <input type="text" name="number" placeholder="1" class="form-control bordernega" #name="ngModel" [(ngModel)]="number" required [class.bordernega]="estado == 'alto'|| estado == 'bajo'" [class.borderpos]="estado == 'correcto'" >
        <p class="respuestaNegativa" *ngIf="estado == 'alto'">
          <span> El numero es mas bajo</span> 
        </p>
        <p class="respuestaNegativa" *ngIf="estado == 'bajo'">
          <span> El numero es mas alto</span>
        </p>
        <p class="respuestaCorrecta" *ngIf="estado == 'correcto'">
          <span> El numero es correcto!!</span>
        </p>
        <input class="consulta" type="submit" value="Creo que ese es el numero">
        <p>
          <input class="again" type="button" value="Adivina otro numero" [disabled]="estado != 'correcto'" (click)="numeroRandom()">
        </p>
      </form>
    </div>
  </div>
</div>